*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.quintessential-regular {
  font-family: "Quintessential", serif;
  font-weight: 400;
  font-style: normal;
}


body{
    font-family: 'Quintessential', serif;
    background-color: #12001e;
    min-height: 100vh;
    position: relative;
    overflow-x: hidden;
}

.circle {
    position: absolute;
    border-radius: 50%;
    pointer-events: none;
}

.circle1 {
    width: 200px;
    height: 200px;
    background: linear-gradient(135deg, #ffd89b 0%, #ff8fb9 100%);
    top: 50px;
    right: 200px;
}